ecosystem.config.js
secrets.env
docs
logs
*.log
npm-debug.log
node_modules
.npm
.node_repl_history
.idea
*.bak
build
config/default.json
config/default-0.json
config/production.json
*.js
*.js.map
!ecosystem.config.sample.js
